/* =========================================
   4. WEB PUBLISHING (페이지 4)
========================================= */
/* WEB PUBLISHING CARDS BACKGROUNDS */
.card-puzzly {
  background: url("../image/puzzly_main.png") center center / cover no-repeat;
}
.card-changwon {
  background: linear-gradient(155deg, #d8d8d8, #f0f0f0);
}
.card-changwon-dark {
  background: url("../image/changwon_main.png") center center / cover no-repeat;
}

/* CLONE CODING CARDS BACKGROUNDS */
.card-dosirack {
  background: url("../image/dosirack_main.png") center center / cover no-repeat;
}
.card-stx {
  background: url("../image/stx_main.png") center center / cover no-repeat;
}
.card-paris {
  background: url("../image/paris_main.png") center center / cover no-repeat;
}
.card-musinsa {
  background: url("../image/musinsa_main.png") center center / cover no-repeat;
}
